!!! 5
html(lang='ja')
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='#') Heater
            li
              a(href='#') Cooler
            li
              a(href='#') Poweroff
      div(class='ui-content', role="main")
        svg
    script(src='http://d3js.org/d3.v3.js')
    script(src='/javascripts/temperature.js')
